/* Styled mobile first */
/* GENERAL/RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #36454F;
}

button {
    all: unset;
    cursor: pointer;
}

/* UTILITY CLASSES */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 5rem;
    text-align: center;
}

/* WEBSITE */

/* Wrapper */
.wrapper {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
    padding: 0 1em;
}

/* Header */
.title-container {
    height: 100%;
}

.title {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-align: center;
}

/* Counter */
.counter-container {
    height: 100%;
    flex-direction: column;
}

/* number */
.number-container {
    height: 50%;
    width: 100%;
}

.number {
    color: white;
    font-size: 10rem;
}

/* buttons */
.buttons-container {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 2em;
}

.button-minus-container {
    justify-content: flex-end;
    grid-column: 1 / 2;
}

.reset-button-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.reset-button {
    border: .5px solid white;
    padding: .02em .5em;
    color: white;
    font-size: 2rem;
}

.button-plus-container {
    justify-content: flex-start;
    grid-column: 3 / 4;
}

/* MEDIA QUERIES */

/* tablet and desktop */
@media screen and (min-width: 550px) {
    .wrapper {
        padding: 0;
    }

    .btn {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 5rem;
    }

    .number {
        font-size: 15rem;
    }

    .buttons-container {
        width: 80%;
        grid-template-rows: initial;
    }

    .button-minus-container {
        grid-column: initial;
    }

    .reset-button-container {
        grid-column: initial;
        grid-row: initial;
    }

    .button-plus-container {
        grid-column: initial;
    }
}

/* Mobile */
@media screen and (max-width: 550px) {}